.container {
    max-width: 1440px;
    padding  : 0 16px;
    margin   : 0 auto;
}

.grid-container {
    width                : 100%;
    display              : grid;
    grid-gap             : 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top           : 20px;
    margin-bottom        : 80px;
}

.product-grid {
    grid-column          : 3 span;
    grid-gap             : 30px;
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
}

.filters {
    position: relative;
}

.filters-price__input {
    width: 100%;
}

.fixed {
    position: fixed;
    top     : 30px;
    left    : 0;
}

.absolut {
    position: absolute;
    bottom  : 0;
    left    : 0;
}

.height {
    height: 3000px;
}